@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>How to use</h2>
        <ul>
            <li>Login above, if you need a login mail <a href="mailto:christian@sinch.com">Christian@sinch.com</a></li>
            <li>After you are loggin in you will be taken to a page where you can send sms and view all that have registered. </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Instructions for users</h2>
        Send an SMS to +1 844-287-2483 with the the word START in it.
        Get Notifications,

    </div>

</div>